html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font: 0.8em Tahoma, Geneva, sans-serif;
}

#background {
    z-index: -999;
    min-height: 100%;
    min-width: 524px;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}

/*MENU*/
#menu_wrap {
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

#menu {
    padding-top: 7px;
    width: 900px;
    margin: 0 auto;
}

#menu ul, #menu ul li {
    display: block;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline;
    float: left;
    width: 115px;
    white-space: nowrap;
}

#menu a {
    color: #BBBBBB;
    text-align: center;
    text-decoration: none;
}

#menu a:hover {
    color: white;
}

#menu a.active {
    color: white;
}

/*MAIN CONTENT*/
#content_wrap {
    position: relative;
    /*top: 160px;*/
    width: 100%;
    display: block;
    overflow: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

#content {
    position: relative;
    width: 970px;
    min-height: 700px;
    /*color: #151515;*/
    text-align: justify;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.6);
}

#content a {
    color: #505050;
    text-decoration: none;
}

#content a:hover {
    color: black;
}

#content a.active {
    color: black;
}

/*COLUMN CONTENT*/
#left_content,
#right_content {
    width: 49%;
}

#right_content {
    float: right;
}

#left_content {
    float: left;
}

/*AJAX TABLE*/
.ajax_table {
    border-collapse: collapse;
}

.ajax_table th a {
    text-align: center;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

.ajax_table th,
.ajax_table td {
    border: 1px solid #d3d3d3;
    width: 300px;
}

.ajax_table tr.even:hover,
.ajax_table tr.odd:hover,
.ajax_table tr.table_body_row:hover {
    background-color: #80b6ed;
    cursor: pointer;
}

/*FORM TABLE*/
.form_table th,
.form_table td {
    border: none !important;
}

/*MODAL WINDOW*/
div.wicket-modal div.w_blue div.w_top,
div.wicket-modal div.w_blue div.w_bottom,
div.wicket-modal div.w_blue div.w_topLeft,
div.wicket-modal div.w_blue div.w_topRight,
div.wicket-modal div.w_blue div.w_bottomRight,
div.wicket-modal div.w_blue div.w_bottomLeft,
div.wicket-modal div.w_blue a.w_close {
    background-image: url("../img/frame-blue-1-alpha.png") !important;
}

/*CREATE NEW LEAGUE WINDOW*/
div.create_league_window .w_content_container {
    padding: 5px;
    height: 120px !important;
    width: 320px !important;
}

.wicket-modal form {
    height: 120px !important;
    width: 320px !important;
}

/*FEEDBACK PANEL*/
.feedbackPanel {
    list-style: none;
}

.feedbackPanelERROR {
    color: red;
}

.feedbackPanelSUCCESS {
    color: #006400;
}