.startScene {
    overflow: hidden;
}

.startScene.startPageBackground {
    /*background: url('../img/login_bg.jpg') no-repeat center -117px;;*/
    background: url('http://cosmosstadium.com/sites/default/files/photo-gallery-photos/Stadium-5.jpg') no-repeat center; /* -117px;;*/
    height: 1000px;
    background-size: cover;
}

.loginScene .container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 140px;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    box-shadow: 0 0 15px black;
    -webkit-box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    -o-box-shadow: 0 0 10px #333;
    -ms-box-shadow: 0 0 10px #333;
}
