.table tbody {
    cursor: pointer;
}

ul.feedbackPanel {
    list-style: none;
    margin: 0 !important;
}

/*COLUMN CONTENT*/
#left_content,
#right_content {
    width: 49%;
}

#right_content {
    float: right;
}

#left_content {
    float: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

select {
    margin-bottom: 0 !important;
}

select.seasonCombo {
    float: right;
}

.table_toolbar {
    margin-bottom: 10px;
}

td.field_label {
    width: 250px !important;
}

/*      SOLSOFT     */
body {
    /*padding-top: 60px;*/
    padding-left: 5px;
    padding-right: 5px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.8em;
}

.navigatorLabel {
    vertical-align: bottom;
    text-align: center;

}

.icon_link_column td,
.icon_link_column th {
    width: 20px !important;
    border-left: none;
}

.icon_link_column a {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("../bootstrap/img/glyphicons-halflings.png");
}

.delete_link_td a {
    background-position: -312px 0px;
}

.version_link_td a {
    background-position: -261px 0px;
}

.all_link_td a {
    background-position: -237px 0px;
}

.table tbody {
    cursor: pointer;
}

.active-form-list-preview tbody {
    cursor: default !important;
}

.selectedElement {
    font-weight: bold;
    color: black !important;
}

.creator_right_side {
    float: right;
    width: 44%;
}

.creator_left_side {
    float: left;
    width: 54%;
}

.creator_table_toolbar {
    padding-bottom: 5px;
}

.defined_keys_section {
    border: 1px solid lightGray;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section_title {
    background-color: #0077b9;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.section_title .brand {
    display: block;
    float: left;
    padding-left: 10px;
    margin-left: -20px;
    font-weight: bold;
    color: #f5f5f5;
}

.section_row {
    line-height: 15px;
    width: 400px;
}

.attribute_preview_label {
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 200px;
}

/**   BOOTSTRAP OVERRIDE ***/

label, input, button, select, textarea {
    font-size: 1em;
    font-weight: normal;
    line-height: 12px
}

/* end of bootstrap override */

.control-property {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: left;
    padding-left: 20px;

}

/*.text-align-right {*/
/*text-align: right;*/
/*}*/

/*.text-align-center {*/
/*text-align: center;*/
/*}*/

#language_select {
    margin-bottom: 0px !important;
}

.icon td, th {
    width: 20px;
}

.button-plugin-section {
    border: 2px solid lightGray;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #ffffff;
}

.button-plugin-section-component {
    border: 1px solid lightGray;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #ffffff;
}

ul.feedbackPanel {
    list-style: none;
    margin: 0px;
    padding: 0px;
    /*margin-bottom: 20px;*/
    /*width: 50%;*/
    text-align: left;

}

.table_button_cell {
    margin: 0;
    padding: 0 !important;
    width: 10px;
}

.form-property-key-value-table th.big,
.form-property-key-value-table td.big {
    width: 160px;
}

.form-property-key-value-table input {
    width: 150px !important;
}

input.column_header {
    width: 120px !important;
}

.login-container {
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #cccccc;
    margin-top: 60px;
    padding-top: 20px;
    width: 500px;
}

.icon-6x {
    font-size: 6em;
}

.group-unit {
    padding: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.group-unit:hover {
    margin-bottom: 5px;
    background-color: #cccccc;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px
}

.small-wrap {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-toolbar {
    margin-bottom: 0px;
    margin-top: 0px
}

.properties-group .form-horizontal .control-group {
    margin-bottom: 4px;
}

table {
    table-layout: fixed;
}

.ui-pnotify.stack-bottomright {
    bottom: 25px !important;
    top: auto !important;
}

.ui-pnotify-container.alert {
    background: #333;
    border: 0;
    text-shadow: none;
    color: #fff;
}

.ui-pnotify-container.alert .icon-exclamation-sign {
    font-size: 15px;
    margin-top: 2px;
}

.selectedRow {
    color: #9acd32;
}