<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.fm.domain.League"/>
        <mapping class="com.fm.domain.Manager"/>
        <mapping class="com.fm.domain.MatchGame"/>
        <mapping class="com.fm.domain.Name"/>
        <mapping class="com.fm.domain.PlayerStats"/>
        <mapping class="com.fm.domain.Player"/>
        <mapping class="com.fm.domain.Position"/>
        <mapping class="com.fm.domain.PositionArea"/>
        <mapping class="com.fm.domain.Season"/>
        <mapping class="com.fm.domain.Surname"/>
        <mapping class="com.fm.domain.Team"/>
        <mapping class="com.fm.domain.TeamRecord"/>
        <mapping class="com.fm.domain.UserEntity"/>
        <mapping class="com.fm.domain.UserRole"/>
        <mapping class="com.fm.domain.SystemParameter"/>
    </session-factory>
</hibernate-configuration>